
<div class="container-md">
  <h2> Editing Movie </h2>
    <form formGroup="form">
      <div class="form-group">
        <label for="title"> Title </label>
        <input type="text" formControlName="title" value="{{ movie.title }} ">
      </div>
      <div class="form-group">
        <label for="releaseDate"> Release Date </label>
        <input type="number" formControlName="releaseDate" value="{{ movie.releaseDate }}">
      </div>
      <div class="form-group">
        <label for="originalLanguage"> Original Language </label>
        <input type="text" formControlName="originalLanguage" value="{{ movie.originalLanguage }} ">
      </div>

      <div class="form-group">
        <label for="overview">Overview </label>
        <textarea id="textarea" formControlName="overview"> {{ movie.overview }} </textarea>
      </div>
    </form>

  <div>

    <button class="btn btn-primary" type="submit" [disabled]="!form.valid" (click)="onEditMovie(movie.id)"
      routerLink="/"> Confirm </button>
  </div>
</div>
<p>{{ form.valid }}</p>

<!--  TODO : make it work properly :( -->
