.container{  
    width: inherit;
    margin-top: 20px;
    height: 100vh;
}

.content, .canvas-content{
    max-width: 800px;
    margin: auto;   
    text-align: center;
    font-size: larger; 
}

.img-canvas{
    float: left;
    height:150px;
    width: 300px;
    border: 1px solid #116e56;
}

.anim-canvas{
    float: right;
    height:150px;
    width: 300px;
    border: 1px solid #116e56;
}
