/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of the reset */

html {
    font-size: 14px;
    font-family: fantasy;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;  
    background-color: black;
    color: blanchedalmond;
}


body * {
    background-color: grey;
    margin: 10px;
    text-align: center;
    border-radius: 15px;
    font-weight: lighter; 
    
}

div *{
    padding-top: 20px;
}


.m-header {
    
    padding: 20px;
    font-size: 46px;
}

.m-content {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    flex: 1;
    border: none;
    margin: 0;
    background-color: black;
    
}

.nav, .aside {
    font-size: 10px;
    width: 20%;
}

.nav{
    font-size: 12px;
}

.m-section {
    width: 60%;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.m-section_header, .m-section_footer {
    
    height: 15%;
    
}

.m-section_article {
    height: 70%;
}

.m-footer {
   flex: 0;
   padding: 15px;
   font-size: 10px;
}

[class*="a"] {
    background-color: blue;
}

[class$="er"] {
    background-color: magenta;
}