<div class="container-fluid">
  <table class="table table-striped">
    <thead>
      <tr class="bg-primary">
        <th scope="col"></th>
        <th scope="col">Movie</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-primary" *ngFor="let movie of movies">

          <td scope="row" class="table-primary">{{ movie.id}} </td>
          <td scope="row" class="table-primary">{{ movie.title }} </td>
          <td scope="row" class="table-primary">
            <button routerLink="/movies/{{movie.id}}"> Details </button>
            <button (click)="onRemoveMovie(movie.title)" routerLink=""> Remove </button>
            <button routerLink="../movie-editor/{{movie.id}}"> Edit Movie </button></td>

      </tr>

    </tbody>
  </table>
</div>
